*{
    border:0;
    padding:0;
    margin:0;
}
html{
    height: 100%;
    width:100%;
}
body {
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    margin: 0px;
    z-index: 0;
    overflow-y: hidden;
}

a{
    text-decoration: none!important;
    outline:0!important;
}

.alert-danger{
    width: 70%;
    text-align:center;
    position:fixed; display:block; top: 50%;left: 50%; transform: translate(-50%, -50%);
}

#blackOverlay{
    display:none;
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.sidenav{
    height: 100%;
    width: 70%;
    max-width:350px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -70%;
    overflow-x: hidden;
    background: white;
}

/* The navigation menu links */

#logo{
    display: block;
    margin:auto;
    margin-top:10%;
    margin-bottom:5%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 4px solid #779ECB;
    max-width: 150px;
}

#app-logo{
    display: block;
    margin:auto;
    margin-top:10%;
    margin-bottom:10%;
    max-width: 100px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0;
    height:100%;
}
#controlNav{
    height: 8%;
    display:flex;
    align-items:center;
}
#controlNav h1{
    color:#464962;
    margin: 0;
    font-size:1.3em;
    margin-left: 15px;
    width:43%;
    display:inline-block;
}
#controlNav #heart{
    color:#FD7B7D;
    font-size:2em;
    margin-right:3%;
    cursor:pointer;
    display:inline-block;
}
#controlNav #navigate, #mySidenav .glyphicon.glyphicon-map-marker{
    color:rgb(251,118,107);
    font-size:2em;
    margin-right:3%;
    cursor:pointer;
    display:inline-block;
}
#controlNav #cog{
    color:#AEC0C9;
    font-size:2em;
    margin-left:3%;
    cursor:pointer;
    display:inline-block;
}
#controlNav img{
    position: relative;
    display:inline-block;
    /*margin-left:45%;*/
}
/*Side Nav CSS*/
#mySidenav .glyphicon{
    font-size:1.7em!important;
}
#mySidenav table{
    font-size:1.2em;
    margin:5%;
    margin-top:10%;
    width:90%;
}
#mySidenav table tr td{
    height: 50px;
}
#mySidenav table tr td:first-of-type{
  width: 15%;
}
#mySidenav table tr td.special{
    width:100%;
}
#mySidenav label{
    margin-bottom: -3px;
}
#mySidenav .slider.slider-horizontal {
    width: 100%;
}
#mySidenav .slider-selection {
    background: #BAD8F2;
}
#mySidenav .tooltip.tooltip-main.top{
    filter: alpha(opacity=90)!important;
    opacity: .9!important;
}
#mySidenav .copyright{
    position: absolute;
    bottom:1%;
    width:100%;
}
#mySidenav .copyright p{
    margin:auto 0; text-align: justify; -moz-text-align-last: center; text-align-last: center;
}
#mySidenav .copyright hr{
    margin-left:-5%;
    width: 110%;
}
/* The switch - the box around the sliderIOS */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.sliderIOS {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.sliderIOS:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .sliderIOS {
  background-color: #2196F3;
}
input:focus + .sliderIOS {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .sliderIOS:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliderIOS */
.sliderIOS.round {
  border-radius: 20px;
}

.sliderIOS.round:before {
  border-radius: 50%;
}

/*End of Side Nav CSS*/

h2{
    font-size: 20px;
    color:black;
    text-align: center;
    margin-bottom:20%;
}

#mapCanvas{
    margin: 0;
    padding: 0;
    height: 83%;
}

.glyphicon.glyphicon-menu-right{
    right:0;
    float:right;
}

.gm-style-iw div{
    overflow:visible!important;
}
.cityBike {
    width: 110%;
}
.cityBike h3{
    display: inline-block;
}
.functionIcon{
    z-index: 10;
    margin-top:-5px;
    margin-left:10px;
}

.cityBike .separate{
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 3px solid #eee;
}
.cityBike .info{
    margin-top:5px;
    color:#484B64;
    font-size:15px;
    font-weight: normal;
}
.cityBike .register{
    margin-left:25%;
    width: 50%;
    min-height: 30px;
    border-radius: 5%;
    background-color:#484B64;
}
.cityBike .register a{
    color:white;
}
.cityBike .moreInfo{
    display:block;
    width: 100%;
    text-align: center;
    color:#484B64;
}
.cityBike .freeBike{
    display:inline-block;
    background: #fbb800;
    width:10px;
    height: 10px;
    margin-left:1px;
    margin-right: 1px;
}
.cityBike .freeSpot{
    display:inline-block;
    background: #E5E8EF;
    width:10px;
    height: 10px;
    margin-left:1px;
    margin-right: 1px;
}
.cityBike h3{
    text-transform: uppercase;
    margin:0;
    color:#484B64;
    font-size: 16px;
}
.cityBike span{
    font-size: 14px;
    color:#484B64;
    font-weight:normal;
}
.bottomNav{
    border-top:1px solid #ddd;
    height: 9%;
}
.bottomNav nav{
    height: 100%;
}
.bottomNav ul{
    width: 100%;
    height: 100%;
    margin:0;
}
.bottomNav nav a{
    height:100%;
}
.bottomNav li{
    position: relative;
    list-style-type: none;
    font-size: 0.8em;
    font-weight: bold;
    height: 100%;
    color:#acacac;
    width: 16.66%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    /*
    display:flex;
    justify-content:center;
    align-items:center;
    */
}

.bottomNav li:not(:first-child){
    border-left:1px solid #ddd;
}

.bottomNav img{
    background-color:#acacac;
}

.bottomNav li.active, .bottomNav li.active img{
    background-color:#2A6785;
}
.custom-img-responsive{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

#markerFacility, #markerBike, #polygon{
    background-color: #acacac;
}
#markerFacility:active, #markerBike:active, #polygon:active{
    background-color: #4A6AA5;
}
#saveButton{
    outline:none;
    margin-left:25%;
    width: 50%;
    min-height: 30px;
    border-radius: 5%;
    background-color:white;
    border:1px solid #1CBB9B;
    color:#1CBB9B;
}
#saveButton:active{
    background-color:#1CBB9B;
    color:white;
}
.bottomDiv{
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: white;
    transition: .5s;
}
.locationPanel{
    width: 100%;
    background: #1cbb9b;
    display:flex;justify-content:center;align-items:center;
    color:white;
    height:7vh;
}
.content{
    margin:2% 4%;
    width: 100%;

}
.locationPanel #saveIcon{
    background:#1cbb9b;
}
.lovePanel{
 width: 100%;
 background: #FF9AD7;
 display:flex;justify-content:center;align-items:center;
 color:white;
 height:7vh;   
}
.locationPanel #saveIcon{
    background:#1cbb9b;
}
#direction{
    position:absolute;
    z-index: 10;
    top:8%;
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
    background: rgba(255,255,255,0.9);
    display:none;
    padding-left:5%;
     padding-right:5%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}