    <div id="blackOverlay" onclick="closeNav();closeBottomDiv()">

  </div>
  <div id="mySidenav" class="sidenav">
    <nav>
      <img src="img/logo.png" alt="logo" id="logo">
      <h2>Helsinki Parking</h2>
      <hr>
      <a href="/asdas"><img src="img/bikeIcon.png" alt="bike icon" style="display:inline-block; margin-right:10px;">Free Parking <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      <a href="#"><img src="img/bikeIcon.png" alt="bike icon" style="display:inline-block; margin-right:10px;">Paid Parking <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      <a href="#"><img src="img/bikeIcon.png" alt="bike icon" style="display:inline-block; margin-right:10px;">Paid Parking Zones <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
      <a class="active" href="#"><img src="img/bikeIcon.png" alt="bike icon" style="display:inline-block; margin-right:10px;">City Bicycle <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </nav>
  </div>
      <div id="controlNav">
      <span id="hamburger" onclick="openNav()" class="glyphicon glyphicon-menu-hamburger" (click)="clicked($event)" ></span><h1>Helsinki Parking >> {{ title }}</h1><img src="img/location.png" alt="location" id="location" class="img-responsive">
    </div>

    <sebm-google-map [latitude]="lat" [longitude]="lon" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lon"></sebm-google-map-marker>
    <sebm-google-map-marker *ngFor="let station of stations"
                [latitude]="station.y"
                [longitude]="station.x"
                [iconUrl]="iconUrl"
                 ></sebm-google-map-marker>
    </sebm-google-map>

    <div id="controlLove" class="bottomNav">
      <div class="bottomDiv">
      </div>
      <nav >
        <ul>
          <li>
            <span class="glyphicon glyphicon-menu-up"></span><br>
            <span class="glyphicon glyphicon-map-marker" style="display:inline-block; margin-right:1px;"></span> Near you
          </li>
          <li>
            <span class="glyphicon glyphicon-menu-up"></span><br>
            <span class="glyphicon glyphicon-heart" style="display:inline-block; margin-right:5px;"></span>Your Favorites
          </li>
        </ul>
      </nav>
      
    </div>